body {
    background: url(../images/bg.png) repeat;
    font-family: 'Open Sans', sans-serif;
    margin:0 auto;
    width:1100px;
    min-height: 100%;
    position: relative;
}
html{
    height:100%;}
.main-signin {
    box-shadow: 0px 10px 20px #000;
    width: 455px;
    height: 360px;
    margin: 120px auto;
}
.main-signin__head {
    background: #242328;
    border-bottom: 1px solid #2d2f32;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 1px 0px #000;
    padding: 12px 0;
}
.main-signin__head p {
    color: #586069;
    text-align: center;}
.main-signin__middle {
    background: #1f1e23;
    border-bottom: 1px solid #2d2f32;
    border-top: 1px solid #2d2f32;
    box-shadow: 0px 1px 0px #000;
}
.middle__form {
    margin: 40px 0 20px 0;
}
 .main-signin__middle .middle__form ::-webkit-input-placeholder {
    color: #25262a;
}
.main-signin__middle .middle__form :-moz-placeholder {
    color: #25262a;
}
.main-signin .main-signin__middle .middle__form ::-moz-placeholder {
    color: #25262a;
}
.main-signin .main-signin__middle .middle__form :-ms-input-placeholder {
    color: #25262a;
}
.main-signin .main-signin__middle .middle__form input[type="text"], .main-signin .main-signin__middle .middle__form input[type="password"],
.main-signin .main-signin__middle .middle__form input[type="submit"] {
    background: #daf4fe;
    border-radius: 5px 5px 0 0;
    border: none;
    color: #25262a;
    display: block;
    margin: 0 20px;
    outline: none;
    padding: 15px 0;
    width: 90%;
}

.main-signin .main-signin__middle .middle__form input[type="text"], .main-signin .main-signin__middle .middle__form input[type="password"] {
    padding:15px 20px;
    width:90%;
}

.main-signin .main-signin__middle .middle__form input[type="password"] {
    border-top: 1px solid #acabab;
    border-radius: 0 0 5px 5px;
}
.main-signin .main-signin__middle .middle__form input[type="submit"] {
    background: #00aeef;
    border-radius: 5px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #80d6f7;
    color: #fff;
    font-size: 18px;
    margin-top: 15px;
    cursor:pointer;
    text-transform: uppercase;
}
.main-signin .main-signin__middle .middle__form input[type="submit"]:active {
    background: #80d6f7;
}
table {
    margin-left: 30px;
    margin-bottom: 10px;
    width: 500px;
    float: left;
    border: 4px double black;
}
ul.css-menu-3 {
    list-style: none;
    border-bottom: 5px solid #bb0000;
    border-top: 1px solid #114477;
    padding: 11px;
    background: #336699;
}

ul.css-menu-3 li {
    display: inline
}

ul.css-menu-3 li a {
    color: #fefefe;
    text-decoration: none;
    background: #225588;
    border: 1px solid #225588;
    border-bottom: 1px solid #114477;
    margin: 0;
    padding: 10px 14px 10px 14px
}

ul.css-menu-3 li a:hover {border-left: 1px solid #114477; border-right: 1px solid #114477}

ul.css-menu-3 li a.selected {
    color: #fefefe;
    background: #bb0000;
    border: 1px #cc0000 solid;
    border-bottom: 1px solid #bb0000;
    border-left: 1px solid #770000;
    padding: 10px 14px 10px 14px
}
hr {
    width: 1100px;
    margin-bottom: 5px;
    margin-top: 10px;
     border: none;
     background-color: #00aeef;
    height: 2px;
 }
.locale{margin-top:-19px;
   margin-left:960px;
}
.check{
    margin-top:50px;
    margin:0 auto;
    margin-left:270px;
    margin-bottom:20px;

}
.button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    margin-left: 150px;
    height: 30px;
    width: 800px;
    background:  #00aeef;
    box-shadow: 0 -3px #00aeef inset;
    transition: 0.2s;
}
.button:hover { background: rgb(53, 167, 110); }
.button:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

.tableadmin{width:900px;}
image{height: 250px;
width: 250px;}
.buttonseerch {
    background-color:#bdc3c7;
    font-size:13px;
    text-decoration:none;
    color:#333;
    position:relative;
    margin-left:35px;
    padding:10px 20px;
    border-left:solid 1px #d3d8db;
    border-radius: 5px;
    box-shadow: inset 0px 1px 0px #dcdfe1, 0px 5px 0px 0px #7f8c8d, 0px 10px 5px rgba(39, 39, 39, 0.8);
}

.button:hover {
    top:7px;
    color: #95a5a6;
    background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    box-shadow: inset 0px 1px 0px #ecf0f1, 0px 1px 0px 0px #7f8c8d, 0px 2px 5px rgba(39, 39, 39, 0.8);
    text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
}


/* COLORS */


.button-primary {
    color: #fff;
    background-color: #3498db;
    border-left:solid 1px #6fbaec;
    box-shadow: inset 0px 1px 0px #73b0d8, 0px 6px 0px #2980b9, 0px 10px 5px rgba(39, 39, 39, 0.8);
}
.button-primary:hover {
    color: #2980b9;
    box-shadow: inset 0px 1px 0px #73b0d8, 0px 1px 0px 0px #2980b9, 0px 2px 5px rgba(39, 39, 39, 0.8);
}

.middle{margin: 0 auto;}

    #search input[type="text"] {
        margin-top:30px;
        margin-bottom:30px;
        margin-left:150px;
      border: 1px solid #d1d1d1;
    font: bold 14px Arial,Helvetica,Sans-serif;
    color: #1f1e23;
    width: 190px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;

}
.content{
    padding: 0 0 50px 0;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding-top: 7px;
    border: 2px solid   #bb0000;
    width: 1100px;
    background: #336699;
    height: 25px;
}
.footer span{
    color: #fefefe;
    margin-top: 10px;
    margin-left: 800px;
}
.message{width: 1000px;}
.message span{
    font-family: Arial,Helvetica,Sans-serif;;
    font-size: 16;
}
#wrapper h2{
    background-color:#CCC;
    border: 1px solid #a9a9a9;
}
.accordion {
    background-color:#CCC;
    border: 1px solid #a9a9a9;
    margin:0 auto;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    overflow: hidden;
    font-size: 1.2em;
    width: 1050px;
    clear: both;
    margin-bottom:10px;
}
.accordion .block {
    padding: 20px;
}
.orders{
    margin-top:50px;
    margin:0 auto;
    width:600px;
    margin-left:250px;
    margin-bottom:20px;
}