body {
    font-family: 'Open Sans', sans-serif;
    margin:0 auto;
    width:1000px;
    position: relative;
	border: 3px solid ;
}
.title span{
		padding-left:30px;
	floar:left;

}
.title{
	floar:left;

}
.header{
	padding-left:30px;
	padding-top:20px;
	font: bold 34px Arial,Helvetica,Sans-serif;
	height:60px;
	border-style: solid;
	border-width: 0px 0px 3px 0px;
}
.reset{
	margin-left:100px;
}
.footer{
	padding-left:350px;
	padding-top:5px;
	border-style: solid;
	border-width: 3px 0px 0px 0px;
}
.date{
	padding-left:800px;display:inline-block;
}
.dateForAdmin{
	margin-left:650px;
	padding-top:-30px;
	float:right;
	position: relative;
	text-decoration: underline;
	top:-20px;
}
.infoAdoutNews{
	position: relative;
	padding-top:10px;
	padding-left:550px;
	height:100px;
}

.navigation{padding-left:170px;}
.navigation select{width:150px;}
.box{
	position:relative;
	border-style: solid;
	border-width: 1px;
	border-color: silver;
	padding-top:10px ;
	padding-left:10px ;
	padding-right:10px ;
	margin-top:5px ;
	margin-left:200px ;
	margin-right:5px ;
	margin-bottom:5px ;
	min-height: 85%;
}
.boxLogin{
	position:relative;
	border-style: solid;
	border-width: 1px;
	border-color: silver;
	padding-top:10px ;
	padding-left:10px ;
	padding-right:10px ;
	margin-top:5px ;
	margin-left:10px ;
	margin-right:5px ;
	margin-bottom:5px ;
	min-height: 100%;
}
.tags{
	color: silver;
	display:inline-block;
	position: absolute;
	right:250px;
	top:65px;
}
.comments{
	color:red;
	text-align: left;
	display:inline-block;
	position: absolute;
	top:32px;

}
.pageNavigator{
	position:absolute;
	bottom:10px;
	background:silver;
	height:100px;
	width:967px;
}
.newsMessage{
	padding-top:5px ;
	padding-left:40px ;min-height:70%;
}
.commentText{
	background:silver;
	width:300px;
}
.addComment{
	margin-top:35px;
	width:300px;
	height:100px;
	margin-bottom:30px;
}
#commentText{
	width:300px;
	height:100px;
}
#buttonAddComment{
	margin-top:5px;
	margin-left:170px;
	height: 35px;
}

.change-tags{margin-left:200px;}
.admin-menu{float: left;background:white;margin-left:15px;margin-right:15px;}
.admin-menu a{margin-top: 5px;font-size: 15px;}
.left-box{
	width:200px;
	height:1000px;
	float: left;
	margin-top: 5px;
	margin-right: 5px;
}
.left-up-box{
	height:150px;
	background:gainsboro;
	float: left;
}
.locale{padding-left:915px;
font-size: 16px;}
.box{font-family: sans-serif,Arial}
.paging{
	background:ghostwhite;
	padding-top:30px;
	width:784px;
	height: 50px;
	margin-left: -5px;
	text-align: center;
	position:absolute;
	top:89%;
}
.paging a{

	background:whitesmoke;
	border:solid black 2px;
	color:black;
	font:normal 11px/11px Verdana, Helvetica, sans-serif;
	padding:7px;
	margin:3px 0px 0px 0px;
	text-align:center;
	text-decoration:none;
}
.delete{
	margin-left:700px;
	width: 80px;
	height: 40px;
}
.shortNews{padding-bottom: -20px;}
.editNews{
	margin-left:140px;
	margin-top:80px;
}
.editNews article{padding-top:10px;}
.changeTagsAndAuthors{
	padding-left:50px;
	padding-top:60px;
}
.changeTagsAndAuthors text{
	float: left;
	padding-right: 70px;
}
.changeTagsAndAuthors input [type="text"]{width: 600px;}
.addTagAndAuthor{padding-top: 30px;}
#addNews article {
	position:relative;
	padding-top: 15px;
	padding-bottom: 10px;
	vertical-align:middle;
}

#addNews {
	padding-left: 20px;
	padding-top: 50px;
}

.infoNews{
	position: absolute;
	margin-left:80px;
	width:500px;
	left:50px;
}
.changeDate{
	position: absolute;
	margin-left:80px;
	width:200px;
	left:50px;
}
.area{
margin-top:55px;
}
.changeTitle{
	margin-top:10px;
	width:400px;
	height:30px;
}
.addTitle{
	margin-top:10px;
	width:300px;
	margin-left:50px;
}
.hidden-link{
	visibility: hidden;
	padding-left:5px;
}
.hidden-validate{
	visibility: hidden;
	width:500px;
	margin-top:40px;
}
.hidden-validate-comment{
	visibility: hidden;
	padding-top:20px;
}
.login{
	padding-left:400px;
	padding-top:150px;
	margin-bottom:230px;
}
.addFullText{
	margin-top:10px;
	margin-left:50px;
}
.changeNews{
	padding-left:-200px;
}
.deleteButtom{
	margin-left:275px;
	width: 24px;
	height: 20px;
	float:left;
}
.commentsNews{margin-top:50px;}
.ui-widget{
	background-color: white;
	border: 1px solid;
	border-color: #adadad;
	margin-right: 5px;
	position: relative;
	top: 5px;
}
.filter{
	position: absolute;
	margin-right:55px;
	float: left;
	margin-top:-37px;
	margin-left:325px;
}
.second{
	margin-left:290px;
}
.shortText{
	width:750px;
	float:left;
	z-index:1;
}
.fullText{
	width:600px;
	padding-bottom: 20px;
}
.changeFullText{
	width:600px;
	padding-bottom: 20px;
}
.navigationEdit{
	position:relative;
	padding-left:-200px;}
.loginInfo{
	padding-left:800px;
	float:left;
	font-size:16px;
	margin-top:-50px;
}
.loginInfo name{
	padding-left:-20px;
}
.submitLogout{
	float:left;
	margin-top:-20px;
	margin-left:110px;

}
.previous{
	position: relative;
	top:85%;
	top:13px;

}
.next{
	position: relative;
	left:670px;
}
.multi-dropbox{
	float:right;
}
.updateForm{
	margin-left:40px;
	width:300px;
	margin-bottom: 30px;
	margin-right: 20px;
}
.saveForm{
	margin-left:20px;
	width:300px;
}
.error{
	margin-top: 20px;
	margin-left:45px;
}
.errorComment{
	margin-top: 45px;
	margin-left:20px;
}
.changeAuthor{
	padding-top:160px;
	padding-left:150px;
}
#validateAuthor{
	top:450px;
	position:absolute;
	left:150;
}
.changeFromList{
	width:140px;
}
.addNewsSave{
	position:absolute;
	margin-top:200px;
	padding: 8px;
	margin-left: 550px;
}

.loginForm{
	position: absolute;
	left:500px;
}
.lineLogin{margin-top:10px;}
.loginSubmit{
	position: absolute;
	margin-left:210px;
	top:295px;
	width:50px;
	padding:3px;}
.editlink{
	position: absolute;
	top:65px;
	right:0px;
	}
.news{margin-top:35px;}
.commentDate{
	text-decoration: underline;

}
#validateTitleSize{
	position:absolute;
	top:0px;
	left:130px;
}
#validateShortTextSize{
	position:absolute;
	top:55px;
	left:130px;
}
#validateFullTextSize{
	position:absolute;
	top:145px;
	left:130px;
}
#ulDropdown {
	display: inline-block;
	border:1px solid grey;
	width: 140px;
	margin-bottom: 10px;
	position: absolute;
	left: 340px;
	background:white;
	z-index:3;
	font-size:15px;
	font-color:grey;
}

#ulDropdown li {
	padding-left:15px;
	z-index:3;
	background:white;
}
.createUlDropdown {

	display:block;
	background:blue;
	margin-left:-80px;

}
#ulDrop:after {
	content:"";
	display:inline-block;
	width:10px;
	height:9px;
	margin-left:5px;
	position:absolute;
	background: url(../images/triangle.jpg) no-repeat;
	top:5px;
	right:5px;
}

.first-child-li-dropdown {
	display:block;
}

.dropdownTags {
	display:none;
}
